registry=http://registry.npm.taobao.org/
disturl=http://npm.taobao.org/dist
sass_binary_site=http://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs/
electron_mirror=http://npm.taobao.org/mirrors/electron/
strict-ssl=false
#http-proxy=socks5:127.0.0.1:1080
#https-proxy=socks5:127.0.0.1:1080
#http-proxy=http://127.0.0.1:1080
#https-proxy=http://127.0.0.1:1080