@charset "UTF-8";
.g-1, .g-1-1, .g-1-2, .g-1-3, .g-2-3, .g-1-4, .g-3-4, .g-1-6, .g-5-6, .g-1-8, .g-3-8, .g-5-8, .g-7-8, .g-1-12, .g-5-12, .g-7-12, .g-11-12, .g-1-24, .g-2-24, .g-3-24, .g-4-24, .g-5-24, .g-6-24, .g-7-24, .g-8-24, .g-9-24, .g-10-24, .g-11-24, .g-12-24, .g-13-24, .g-14-24, .g-15-24, .g-16-24, .g-17-24, .g-18-24, .g-19-24, .g-20-24, .g-21-24, .g-22-24, .g-23-24, .g-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
.g-1-24 { width: 4.1667%; *width: 4.1357%; }
.g-1-12, .g-2-24 { width: 8.3333%; *width: 8.3023%; }
.g-1-8, .g-3-24 { width: 12.5000%; *width: 12.4690%; }
.g-1-6, .g-4-24 { width: 16.6667%; *width: 16.6357%; }
.g-5-24 { width: 20.8333%; *width: 20.8023%; }
.g-1-4, .g-6-24 { width: 25%; *width: 24.9690%; }
.g-7-24 { width: 29.1667%; *width: 29.1357%; }
.g-1-3, .g-8-24 { width: 33.3333%; *width: 33.3023%; }
.g-3-8, .g-9-24 { width: 37.5000%; *width: 37.4690%; }
.g-5-12, .g-10-24 { width: 41.6667%; *width: 41.6357%; }
.g-11-24 { width: 45.8333%; *width: 45.8023%; }
.g-1-2, .g-12-24 { width: 50%; *width: 49.9690%; }
.g-13-24 { width: 54.1667%; *width: 54.1357%; }
.g-7-12, .g-14-24 { width: 58.3333%; *width: 58.3023%; }
.g-5-8, .g-15-24 { width: 62.5000%; *width: 62.4690%; }
.g-2-3, .g-16-24 { width: 66.6667%; *width: 66.6357%; }
.g-17-24 { width: 70.8333%; *width: 70.8023%; }
.g-3-4, .g-18-24 { width: 75%; *width: 74.9690%; }
.g-19-24 { width: 79.1667%; *width: 79.1357%; }
.g-5-6, .g-20-24 { width: 83.3333%; *width: 83.3023%; }
.g-7-8, .g-21-24 { width: 87.5000%; *width: 87.4690%; }
.g-11-12, .g-22-24 { width: 91.6667%; *width: 91.6357%; }
.g-23-24 { width: 95.8333%; *width: 95.8023%; }
.g-1, .g-1-1, .g-24-24 { width: 100%; }
@media screen and (min-width:35.5em) {
    .g-s-1, .g-s-1-1, .g-s-1-2, .g-s-1-3, .g-s-2-3, .g-s-1-4, .g-s-3-4, .g-s-1-6, .g-s-5-6, .g-s-1-8, .g-s-3-8, .g-s-5-8, .g-s-7-8, .g-s-1-12, .g-s-5-12, .g-s-7-12, .g-s-11-12, .g-s-1-24, .g-s-2-24, .g-s-3-24, .g-s-4-24, .g-s-5-24, .g-s-6-24, .g-s-7-24, .g-s-8-24, .g-s-9-24, .g-s-10-24, .g-s-11-24, .g-s-12-24, .g-s-13-24, .g-s-14-24, .g-s-15-24, .g-s-16-24, .g-s-17-24, .g-s-18-24, .g-s-19-24, .g-s-20-24, .g-s-21-24, .g-s-22-24, .g-s-23-24, .g-s-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
    .g-s-1-24 { width: 4.1667%; *width: 4.1357%; }
    .g-s-1-12, .g-s-2-24 { width: 8.3333%; *width: 8.3023%; }
    .g-s-1-8, .g-s-3-24 { width: 12.5000%; *width: 12.4690%; }
    .g-s-1-6, .g-s-4-24 { width: 16.6667%; *width: 16.6357%; }
    .g-s-5-24 { width: 20.8333%; *width: 20.8023%; }
    .g-s-1-4, .g-s-6-24 { width: 25%; *width: 24.9690%; }
    .g-s-7-24 { width: 29.1667%; *width: 29.1357%; }
    .g-s-1-3, .g-s-8-24 { width: 33.3333%; *width: 33.3023%; }
    .g-s-3-8, .g-s-9-24 { width: 37.5000%; *width: 37.4690%; }
    .g-s-5-12, .g-s-10-24 { width: 41.6667%; *width: 41.6357%; }
    .g-s-11-24 { width: 45.8333%; *width: 45.8023%; }
    .g-s-1-2, .g-s-12-24 { width: 50%; *width: 49.9690%; }
    .g-s-13-24 { width: 54.1667%; *width: 54.1357%; }
    .g-s-7-12, .g-s-14-24 { width: 58.3333%; *width: 58.3023%; }
    .g-s-5-8, .g-s-15-24 { width: 62.5000%; *width: 62.4690%; }
    .g-s-2-3, .g-s-16-24 { width: 66.6667%; *width: 66.6357%; }
    .g-s-17-24 { width: 70.8333%; *width: 70.8023%; }
    .g-s-3-4, .g-s-18-24 { width: 75%; *width: 74.9690%; }
    .g-s-19-24 { width: 79.1667%; *width: 79.1357%; }
    .g-s-5-6, .g-s-20-24 { width: 83.3333%; *width: 83.3023%; }
    .g-s-7-8, .g-s-21-24 { width: 87.5000%; *width: 87.4690%; }
    .g-s-11-12, .g-s-22-24 { width: 91.6667%; *width: 91.6357%; }
    .g-s-23-24 { width: 95.8333%; *width: 95.8023%; }
    .g-s-1, .g-s-1-1, .g-s-24-24 { width: 100%; }
}
@media screen and (min-width:48em) {
    .g-m-1, .g-m-1-1, .g-m-1-2, .g-m-1-3, .g-m-2-3, .g-m-1-4, .g-m-3-4, .g-m-1-6, .g-m-5-6, .g-m-1-8, .g-m-3-8, .g-m-5-8, .g-m-7-8, .g-m-1-12, .g-m-5-12, .g-m-7-12, .g-m-11-12, .g-m-1-24, .g-m-2-24, .g-m-3-24, .g-m-4-24, .g-m-5-24, .g-m-6-24, .g-m-7-24, .g-m-8-24, .g-m-9-24, .g-m-10-24, .g-m-11-24, .g-m-12-24, .g-m-13-24, .g-m-14-24, .g-m-15-24, .g-m-16-24, .g-m-17-24, .g-m-18-24, .g-m-19-24, .g-m-20-24, .g-m-21-24, .g-m-22-24, .g-m-23-24, .g-m-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
    .g-m-1-24 { width: 4.1667%; *width: 4.1357%; }
    .g-m-1-12, .g-m-2-24 { width: 8.3333%; *width: 8.3023%; }
    .g-m-1-8, .g-m-3-24 { width: 12.5000%; *width: 12.4690%; }
    .g-m-1-6, .g-m-4-24 { width: 16.6667%; *width: 16.6357%; }
    .g-m-5-24 { width: 20.8333%; *width: 20.8023%; }
    .g-m-1-4, .g-m-6-24 { width: 25%; *width: 24.9690%; }
    .g-m-7-24 { width: 29.1667%; *width: 29.1357%; }
    .g-m-1-3, .g-m-8-24 { width: 33.3333%; *width: 33.3023%; }
    .g-m-3-8, .g-m-9-24 { width: 37.5000%; *width: 37.4690%; }
    .g-m-5-12, .g-m-10-24 { width: 41.6667%; *width: 41.6357%; }
    .g-m-11-24 { width: 45.8333%; *width: 45.8023%; }
    .g-m-1-2, .g-m-12-24 { width: 50%; *width: 49.9690%; }
    .g-m-13-24 { width: 54.1667%; *width: 54.1357%; }
    .g-m-7-12, .g-m-14-24 { width: 58.3333%; *width: 58.3023%; }
    .g-m-5-8, .g-m-15-24 { width: 62.5000%; *width: 62.4690%; }
    .g-m-2-3, .g-m-16-24 { width: 66.6667%; *width: 66.6357%; }
    .g-m-17-24 { width: 70.8333%; *width: 70.8023%; }
    .g-m-3-4, .g-m-18-24 { width: 75%; *width: 74.9690%; }
    .g-m-19-24 { width: 79.1667%; *width: 79.1357%; }
    .g-m-5-6, .g-m-20-24 { width: 83.3333%; *width: 83.3023%; }
    .g-m-7-8, .g-m-21-24 { width: 87.5000%; *width: 87.4690%; }
    .g-m-11-12, .g-m-22-24 { width: 91.6667%; *width: 91.6357%; }
    .g-m-23-24 { width: 95.8333%; *width: 95.8023%; }
    .g-m-1, .g-m-1-1, .g-m-24-24 { width: 100%; }
}
@media screen and (min-width:64em) {
    .g-l-1, .g-l-1-1, .g-l-1-2, .g-l-1-3, .g-l-2-3, .g-l-1-4, .g-l-3-4, .g-l-1-6, .g-l-5-6, .g-l-1-8, .g-l-3-8, .g-l-5-8, .g-l-7-8, .g-l-1-12, .g-l-5-12, .g-l-7-12, .g-l-11-12, .g-l-1-24, .g-l-2-24, .g-l-3-24, .g-l-4-24, .g-l-5-24, .g-l-6-24, .g-l-7-24, .g-l-8-24, .g-l-9-24, .g-l-10-24, .g-l-11-24, .g-l-12-24, .g-l-13-24, .g-l-14-24, .g-l-15-24, .g-l-16-24, .g-l-17-24, .g-l-18-24, .g-l-19-24, .g-l-20-24, .g-l-21-24, .g-l-22-24, .g-l-23-24, .g-l-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
    .g-l-1-24 { width: 4.1667%; *width: 4.1357%; }
    .g-l-1-12, .g-l-2-24 { width: 8.3333%; *width: 8.3023%; }
    .g-l-1-8, .g-l-3-24 { width: 12.5000%; *width: 12.4690%; }
    .g-l-1-6, .g-l-4-24 { width: 16.6667%; *width: 16.6357%; }
    .g-l-5-24 { width: 20.8333%; *width: 20.8023%; }
    .g-l-1-4, .g-l-6-24 { width: 25%; *width: 24.9690%; }
    .g-l-7-24 { width: 29.1667%; *width: 29.1357%; }
    .g-l-1-3, .g-l-8-24 { width: 33.3333%; *width: 33.3023%; }
    .g-l-3-8, .g-l-9-24 { width: 37.5000%; *width: 37.4690%; }
    .g-l-5-12, .g-l-10-24 { width: 41.6667%; *width: 41.6357%; }
    .g-l-11-24 { width: 45.8333%; *width: 45.8023%; }
    .g-l-1-2, .g-l-12-24 { width: 50%; *width: 49.9690%; }
    .g-l-13-24 { width: 54.1667%; *width: 54.1357%; }
    .g-l-7-12, .g-l-14-24 { width: 58.3333%; *width: 58.3023%; }
    .g-l-5-8, .g-l-15-24 { width: 62.5000%; *width: 62.4690%; }
    .g-l-2-3, .g-l-16-24 { width: 66.6667%; *width: 66.6357%; }
    .g-l-17-24 { width: 70.8333%; *width: 70.8023%; }
    .g-l-3-4, .g-l-18-24 { width: 75%; *width: 74.9690%; }
    .g-l-19-24 { width: 79.1667%; *width: 79.1357%; }
    .g-l-5-6, .g-l-20-24 { width: 83.3333%; *width: 83.3023%; }
    .g-l-7-8, .g-l-21-24 { width: 87.5000%; *width: 87.4690%; }
    .g-l-11-12, .g-l-22-24 { width: 91.6667%; *width: 91.6357%; }
    .g-l-23-24 { width: 95.8333%; *width: 95.8023%; }
    .g-l-1, .g-l-1-1, .g-l-24-24 { width: 100%; }
}
@media screen and (min-width:80em) {
    .g-x-1, .g-x-1-1, .g-x-1-2, .g-x-1-3, .g-x-2-3, .g-x-1-4, .g-x-3-4, .g-x-1-6, .g-x-5-6, .g-x-1-8, .g-x-3-8, .g-x-5-8, .g-x-7-8, .g-x-1-12, .g-x-5-12, .g-x-7-12, .g-x-11-12, .g-x-1-24, .g-x-2-24, .g-x-3-24, .g-x-4-24, .g-x-5-24, .g-x-6-24, .g-x-7-24, .g-x-8-24, .g-x-9-24, .g-x-10-24, .g-x-11-24, .g-x-12-24, .g-x-13-24, .g-x-14-24, .g-x-15-24, .g-x-16-24, .g-x-17-24, .g-x-18-24, .g-x-19-24, .g-x-20-24, .g-x-21-24, .g-x-22-24, .g-x-23-24, .g-x-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
    .g-x-1-24 { width: 4.1667%; *width: 4.1357%; }
    .g-x-1-12, .g-x-2-24 { width: 8.3333%; *width: 8.3023%; }
    .g-x-1-8, .g-x-3-24 { width: 12.5000%; *width: 12.4690%; }
    .g-x-1-6, .g-x-4-24 { width: 16.6667%; *width: 16.6357%; }
    .g-x-5-24 { width: 20.8333%; *width: 20.8023%; }
    .g-x-1-4, .g-x-6-24 { width: 25%; *width: 24.9690%; }
    .g-x-7-24 { width: 29.1667%; *width: 29.1357%; }
    .g-x-1-3, .g-x-8-24 { width: 33.3333%; *width: 33.3023%; }
    .g-x-3-8, .g-x-9-24 { width: 37.5000%; *width: 37.4690%; }
    .g-x-5-12, .g-x-10-24 { width: 41.6667%; *width: 41.6357%; }
    .g-x-11-24 { width: 45.8333%; *width: 45.8023%; }
    .g-x-1-2, .g-x-12-24 { width: 50%; *width: 49.9690%; }
    .g-x-13-24 { width: 54.1667%; *width: 54.1357%; }
    .g-x-7-12, .g-x-14-24 { width: 58.3333%; *width: 58.3023%; }
    .g-x-5-8, .g-x-15-24 { width: 62.5000%; *width: 62.4690%; }
    .g-x-2-3, .g-x-16-24 { width: 66.6667%; *width: 66.6357%; }
    .g-x-17-24 { width: 70.8333%; *width: 70.8023%; }
    .g-x-3-4, .g-x-18-24 { width: 75%; *width: 74.9690%; }
    .g-x-19-24 { width: 79.1667%; *width: 79.1357%; }
    .g-x-5-6, .g-x-20-24 { width: 83.3333%; *width: 83.3023%; }
    .g-x-7-8, .g-x-21-24 { width: 87.5000%; *width: 87.4690%; }
    .g-x-11-12, .g-x-22-24 { width: 91.6667%; *width: 91.6357%; }
    .g-x-23-24 { width: 95.8333%; *width: 95.8023%; }
    .g-x-1, .g-x-1-1, .g-x-24-24 { width: 100%; }
}